.Line {
    border: 18px solid $eucalyptus;
    display: block;
    z-index: -1;
    
    &--pink {
        border-color: $lavender;
    }

    &--bl {
        border-top: 0;
        border-right: 0;
        border-bottom-left-radius: 15vh;
    }

    &--tr {
        border-bottom: 0;
        border-left: 0;
        border-top-right-radius: 15vh;
    }
}

.Ball {
    &--tl, &--br {
        &::before {
            content: ' ';
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $eucalyptus;
            position: absolute;
        }
    }
    &--tl::before {
        top: -25px;
        left: -25px;
    }
    &--br::before {
        bottom: -25px;
        right: -25px;
    }
    &--pink::before {
        background-color: $lavender;
    }
}