@import '../../styling/entry';

.Partners {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;
}

.Partner {
    flex-basis: 400px;
    padding: 16px 32px;
    margin-bottom: 16px;
    position: relative;
    opacity: 1;
    transition: opacity 0.2s ease;

    img {
        max-width: 100%;
    }

    &:hover {
        opacity: 0.4;
    }
}