@import '../../styling/entry';

.Merchandise {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 10px;

    &-item {
        display: flex;
        flex-basis: 400px;
        padding: 16px 32px;

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}