.Home {
    display: flex;
    flex-direction: row;
    width: 100vw;  
    min-height: 100vh;
    overflow-x: hidden;

    background-color: #ffffff;
    background-image: 
        linear-gradient(to right, rgba(147, 112, 219, 0.15) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(147, 112, 219, 0.15) 1px, transparent 1px);

    background-size: 30px 30px; 
    
    background-position: center top;
}

.Main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    // height: 100vh;

    &#information {
        margin-top: 2vh;
        margin-bottom: 15vh;
        // justify-content: center;
        .Block {
            max-width: 720px;
        }
    }

    &#partners {
        margin-top: 5vh;
        margin-bottom: 5vh;
        .Block {
            max-width: 720px;
        }
    }

    &#activities {
        & .Line {
            position: relative;
            height: 30vh;
            width: 40vw;
            bottom: -5vh;
            right: 0px;
        }
    }

    &#lustrum-committee {
        margin-top: 5vh;
        margin-bottom: 5vh;
        h2 {
            text-align: center;
        }
    }

    &#album {
        textarea {
            font-size: 16px;
            height: 6em;
            width: 300px;
            max-width: 100%;
        }
    }
}