.Home {
    display: flex;
    flex-direction: row; 
    width: 100vw;  
    min-height: 100vh;

    background-color: #ffffff;
    background-image: 
        linear-gradient(to right, rgba(147, 112, 219, 0.15) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(147, 112, 219, 0.15) 1px, transparent 1px);
    background-size: 30px 30px; 
    background-position: center top;
}

.Main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.Block {
    width: 100%;
    max-width: 95%; 
    text-align: left;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 12vh;
    
    h2 {
        color: #83b993;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}