.Hero {
    display: flex;
    height: 50vh;
    width: 100vw;

    background-color: #ffffff;
    background-image: 
        linear-gradient(to right, rgba(147, 112, 219, 0.15) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(147, 112, 219, 0.15) 1px, transparent 1px);

    background-size: 30px 30px; 
    
    background-position: center top;

    justify-content: center;
    align-items: center;
    &__logo {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        bottom: 2vh;
        // flex: 1;
        flex-basis: 700px;
        padding: 48px;
        margin-bottom: 2vh;

        img {
            width: 100%;
        }

        @media(max-width: 768px){
            padding: 16px 24px;
            margin-bottom: 2vh;
        }
    }
    
    & .Line {
        position: absolute;
        height: 30vh;
        width: 50vw;
        bottom: -15vh;
        right: 0px;
    }
}